diff --git a/app/app.js b/app/app.js
index ed8426c..cf5fbed 100644
--- a/app/app.js
+++ b/app/app.js
@@ -5,11 +5,12 @@ var stage_iobio_services  = "http://nv-green.iobio.io/";
 var prod_iobio_services   = "http://nv-prod.iobio.io/";
 var dev_iobio_services    = "http://nv-dev.iobio.io/";
 
-var global_iobio_services = prod_iobio_services;
+//var global_iobio_services = prod_iobio_services;
+var global_iobio_services = "http://@hostname@/";
 
-var geneiobio_server   = global_iobio_services + "geneinfo";
-var geneToPhenoServer  = global_iobio_services + "gene2pheno";
-var hpoServer          = global_iobio_services + "hpo";
+var geneiobio_server   = global_iobio_services + "geneinfo/";
+var geneToPhenoServer  = global_iobio_services + "gene2pheno/";
+var hpoServer          = global_iobio_services + "hpo/";
 var phenolyzerServer   = "https://7z68tjgpw4.execute-api.us-east-1.amazonaws.com/dev/phenolyzer/"
 
 
diff --git a/app/bam.iobio.js b/app/bam.iobio.js
index f6cd666..bb91fb2 100755
--- a/app/bam.iobio.js
+++ b/app/bam.iobio.js
@@ -29,18 +29,19 @@ var Bam = Class.extend({
       this.prod_iobio_services  = "wss://nv-prod.iobio.io/";
       this.dev_iobio_services   = "ws://nv-dev.iobio.io/";
 
-      this.iobio.services = this.prod_iobio_services;
+      //this.iobio.services = this.prod_iobio_services;
+      this.iobio.services = "ws://@hostname@/";
 
       this.iobio.coverage       = this.iobio.services + "coverage/ ";
-      this.iobio.bamtools       = this.iobio.services + "bamtools";
-      this.iobio.samtools       = this.iobio.services + "od_samtools";
-      this.iobio.bamReadDepther = this.iobio.services + "bamReadDepther";
-      this.iobio.bamMerger      = this.iobio.services + "bammerger";      
-      this.iobio.bamstatsAlive  = this.iobio.services + "bamstatsalive"
-      this.iobio.freebayes      = this.iobio.services + "freebayes";
-      this.iobio.bcftools       = this.iobio.services + "bcftools";
-      this.iobio.vcflib         = this.iobio.services + "vcflib";
-      this.iobio.vt             = this.iobio.services + "vt";
+      this.iobio.bamtools       = this.iobio.services + "bamtools/";
+      this.iobio.samtools       = this.iobio.services + "od_samtools/";
+      this.iobio.bamReadDepther = this.iobio.services + "bamReadDepther/";
+      this.iobio.bamMerger      = this.iobio.services + "bammerger/";
+      this.iobio.bamstatsAlive  = this.iobio.services + "bamstatsalive/"
+      this.iobio.freebayes      = this.iobio.services + "freebayes/";
+      this.iobio.bcftools       = this.iobio.services + "bcftools/";
+      this.iobio.vcflib         = this.iobio.services + "vcflib/";
+      this.iobio.vt             = this.iobio.services + "vt/";
 
       return this;
    },
@@ -947,4 +948,4 @@ var Bam = Class.extend({
 
  
    
-});
\ No newline at end of file
+});
diff --git a/app/vcf.iobio.js b/app/vcf.iobio.js
index b1be492..d1f4801 100755
--- a/app/vcf.iobio.js
+++ b/app/vcf.iobio.js
@@ -71,7 +71,8 @@ vcfiobio = function module() {
   var prod_iobio_services = "wss://nv-prod.iobio.io/";
   var dev_iobio_services = "ws://nv-dev.iobio.io/";
 
-  var iobio_services = prod_iobio_services;
+  //var iobio_services = prod_iobio_services;
+  var iobio_services = "ws://@hostname@/";
 
   var vcfstatsAliveServer    = iobio_services + "vcfstatsalive/";
   var tabixServer            = iobio_services + "od_tabix/";
